.ProfileHeader {
    display: flex;
    align-items: center;
    background: linear-gradient(186deg, #b0fff9, #e2a9ff);
    justify-content: space-evenly;
    @media only screen and (max-width: 500px) {
        width: 100%;
        flex-wrap: wrap;
    }
}
