.ProfileContent {
    display: flex;
    flex-direction: column;

    &__Header{
        display: flex;
        justify-content: center;
    }

    &_Feed {
        padding: 10rem;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300rem, 1fr));
        grid-gap: 10rem;
        justify-content: center;
    }
}
  