.HeaderNav {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: flex-end;

    & > * {
        height: 100%;
        padding: 0 10rem;
        display: flex;
        align-items: center;
        margin: 10rem 0;
    }
    &_CreatePostIcon {
        width: 40rem;
    }
    &_Username {
        color: white;
    }
}
